version: 2.1

attach_workspace: &attach_workspace
  attach_workspace:
    at: ~/crane-cloud

persist_to_workspace: &persist_to_workspace
  persist_to_workspace:
    root: .
    paths: .

build_and_push_image: &build_and_push_image
  run:
    name: build image
    command: |
      export IMG_TAG=$(echo $CIRCLE_SHA1 | cut -c -7)
      docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      docker build -f Dockerfile -t cranecloud/cranecloud-docs:$IMG_TAG .
      docker push cranecloud/cranecloud-docs:$IMG_TAG

configure_gcloud: &configure_gcloud
  run:
    name: configure gcloud default settings
    command: |
      echo $GCLOUD_SERVICE_KEY > ~/crane-cloud/auth_key._json_key
      gcloud auth activate-service-account --key-file ~/crane-cloud/auth_key._json_key
      gcloud container clusters get-credentials $cluster --zone us-central1-a --project $GCP_PROJECT_ID

deploy_to_kubernetes: &deploy_to_kubernetes
  run:
    name: update deployment image
    command: |
      export IMG_TAG=$(echo $CIRCLE_SHA1 | cut -c -7)
      ./kubectl set image deployment/cranecloud-docs cranecloud-docs=cranecloud/cranecloud-docs:$IMG_TAG --record -n $namespace

jobs:
  build_and_deploy_staging:
    docker:
      - image: google/cloud-sdk
        environment:
          GOOGLE_APPLICATION_CREDENTIALS: /root/crane-cloud
          cluster: staging-cluster
          namespace: cranecloud
    working_directory: ~/crane-cloud
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod u+x ./kubectl
      - *configure_gcloud
      - *build_and_push_image
      - *deploy_to_kubernetes

  build_and_deploy_production:
    docker:
      - image: google/cloud-sdk
        environment:
          GOOGLE_APPLICATION_CREDENTIALS: /root/crane-cloud
          cluster: staging-cluster
          namespace: cranecloud-prod
    working_directory: ~/crane-cloud
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod u+x ./kubectl
      - *configure_gcloud
      - *build_and_push_image
      - *deploy_to_kubernetes

workflows:
  version: 2
  cranecloud_deployment:
    jobs:
      - build_and_deploy_staging:
          filters:
            branches:
              only: develop
      - build_and_deploy_production:
          filters:
            branches:
              only: main
